body                      {font: 15px/1.5 Varela Round;padding:0;margin:0;color: A1A1A1;}

/* Global */
.container  {width:80%;margin:auto;overflow:hidden;color: A1A1A1;}
.container h1{margin-top:20px;font-size:40px;margin-bottom:10px;color: A1A1A1;}

.container h2{margin-top:10px;font-size:20px;margin-bottom:10px;color: #7F7E7D;
}



.container1{width:80%;margin:auto;overflow:hidden;background-color:A3A3A3;
}
.container1 h1{margin-top:20px; font-size:40px; margin-bottom:10px; color: A1A1A1;
}

.container1 h2{margin-top:10px;font-size:20px;margin-bottom:10px;color: #7F7E7D;
}





/* Header **/
header{background:#FFFFFF;color:#ffffff;height:70px;border-bottom:#e8491d 1px solid;
}

header a{color:#ffffff;text-decoration:none;text-transform: uppercase;font-size:16px;
}

header li{float:left;display:inline;padding: 0 10px 0 10px;
}

header #logo{float:left;
}

header #logo h1{margin:0;
  
}


header nav{float:right;margin-top:5px;
}


/*FORM */
.contact{
  background: url('../img/appunti1.png') no-repeat ;
  background-size: 100% auto;
  color:#737373;
  line-height:1.6;
  font-family: Varela Round;
  
  margin-top:0;
  width: 100%;
}





/* Showcase */
#showcase{min-height:600px;background:url('../img/showcase.jpg') no-repeat 0 -400px;text-align:center;color:#FFFFFF;
}

#showcase h1{margin-top:190px;font-size:45px;margin-bottom:5px;color: #FFFFFF;
}

#showcase p{font-size:28px;color:#FFFFFF;
}



/* Boxes */
#boxes{margin-top:20px;text-align:center;min-height:600px;}

#boxes .box{float:left;text-align: center; width:31%; padding:10px; margin-top:130px;
 
}

#boxes .box img{width:90px;
}
#boxes h1{margin-top:40px;font-size:40px;margin-bottom:5px;color: A1A1A1;
  
}

#boxes h3{ text-align: center; font-size:25px;}

#boxes1{margin-top:0px;min-height:500px;
  
}


#boxes1 h1{margin-top:20px;font-size:40px;margin-bottom:5px;color: A1A1A1;
  
}

#boxes1 h2{margin-top:30px;font-size:20px;margin-bottom:5px;color: #000000
  
}





#boxes2{margin-top:20px;min-height:500px; background-color:#D9D9D9;}
#boxes2 h3 {text-align: center; font-size:40px; color: #737373;}
#boxes2 h4 { text-align: center; font-size:30px; color: #A1A1A1}
#boxes2 p { text-align: center; font-size:20px; color: #ff6b18}
#boxes2 h6 { text-align: center; font-size:25px; color: #737373}
#boxes4 {margin-top:100px;text-align:center;min-height:300px;}
#boxes4 h4 { text-align: center; font-size:30px; color: #737373}


/* Sidebar */

input[type=email]{ width: 350px; box-sizing: border-box; border: 2px solid #ff6b18; border-radius: 14px; font-size: 15px; background-color: white;padding: 12px 20px 12px 40px;-webkit-transition: width 0.4s ease-in-out;transition: width 0.4s ease-in-out;display: block; margin: 0 auto; margin-top: 20px; }
button[type=submit] {outline: none;cursor: pointer;text-align: center;letter-spacing: 2px;text-decoration: none;font: bold 25px Varela Round;color: #fff;padding: 10px 20px;border: solid 2px #737373;background: #ff6b18;-moz-border-radius: 20px;-webkit-border-radius: 20px; border-radius: 20px; margin-left:0px; width:150px; margin-top: 20px;}
input[type=text]{ width: 350px; box-sizing: border-box; border: 2px solid #ff6b18; border-radius: 14px; font-size: 15px; background-color: white;padding: 12px 20px 12px 40px;-webkit-transition: width 0.4s ease-in-out;transition: width 0.4s ease-in-out; display: block;margin: 0 auto;margin-top:30px;}
#pulsante1 {outline: none;cursor: pointer;text-align: center;letter-spacing: 2px;text-decoration: none;font: bold 25px Varela Round;color: #fff;padding: 10px 20px;border: solid 1px #0076a3;background: #ff6b18;-moz-border-radius: 20px;-webkit-border-radius: 20px; border-radius: 20px; margin-left:0px; width:250px; margin-top: 40px;}
#pulsante2 {outline: none;cursor: pointer;text-align: center;text-decoration: none;font: bold 25px Varela Round;color: #fff;padding: 10px 20px;border: solid 1px #0076a3;background: #00b2af;-moz-border-radius: 20px;-webkit-border-radius: 20px; border-radius: 20px; margin-left:0px; width:350px; margin-top: 40px;}
#pulsante5 {outline: none;cursor: pointer;text-align: center;letter-spacing: 2px;text-decoration: none;font: 10px Varela Round;color: #ff6b18;padding: 10px 20px;background-color: white ;border: solid 1px  #ff6b18;-moz-border-radius: 20px;-webkit-border-radius: 20px; border-radius: 20px; margin-left:0px; width:150px; }
#contact {float:center; width:60%; margin: 0; background-color:#ff6b18;font-size:10px;font: Varela Round;

}

/* Main-col */
article#main-col{float:left;width:65%;
}

footer{padding:20px;margin-top:20px;color:#ffffff;background-color:#e8491d;text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{padding-bottom:20px;
  }

  #showcase h1{margin-top:40px;
  }

  #newsletter button, .quote button{display:block;width:100%;
  }


}






.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



/*css per thank you page */
#logo { position:center;
        margin-bottom: 20px;
		margin-top: 10px;
      }



.text h1 { font-size:35px; 
           color: #737373;
           text-align:center ;
           font-family: Varela Round;
		   
		  }

.text h2 { font-size: 25px;
           color: #A1A1A1;
		   text-align:center ;
        font-family: Varela Round;
}

.CLICK form button {
  
  display: inline-block;
  font-family: Varela Round;
  font-size: 30px;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #00b2af linear-gradient(#006967, #00b2af);
  box-shadow: inset #D65A14 0 -1px 1px, inset 0 1px 1px #D65A14, #006967 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
  width: 50%;
  
  
}
.CLICK form button:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
.CLICK form button:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

a:link, a:visited {
    text-decoration: underline;
    color: #F58529;
    background-color: transparent;
}

